[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.31.0"

[dev-packages]
cx-freeze = ">=6.15.12"
responses = "0.25.0"

[requires]
python_version = "3.9"